.footer{
  background-color: #292b2c;
  color:white;
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  a{
    color:#F2EBEB;
    text-decoration: none;
  }
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 20px;
}
#chip{
  width: 150px;
}