form{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
// button{
//   width: 150px;
//   margin: 20px;
//   line-height: 40px;
//   font-size: 20px;
//   background: linear-gradient(45deg, #2A3EB1 10%, #2C387E 90%);
//   border: 0;
//   border-radius: 3px;
//   box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .5);
//   color: white;
// }